body {
  text-align: center;
  min-width: 450px;
  max-width: 30%;
  margin: 100px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 0 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 20px;
}

h1 {
  display: inline;
  font-size: 40pt;
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
}

span {
  font-size: 15pt;
  padding-left: 10px;
}

h2 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

select {
  width: 85%;
  font-size: 14pt;
  color: gray;
  border-radius: 10px;
  margin: 20px auto;
  height: 40px;
  padding: 5px;
}

footer {
  margin: 25px;
  font-size: 13pt;
}

.title {
  margin: 30px;
  font-family: "Libre Baskerville", serif;
}

.country-list {
  display: flex;
  width: 90%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px dashed rgba(48, 48, 48, 0.1);
}

.current-city {
  font-size: 22pt;
  margin: 15px auto;
}

.current-date {
  margin: 10px;
  font-size: 14pt;
  display: block;
}

.time {
  font-size: 45pt;
}

.suffix {
  color: gray;
  margin-top: 12px;
}

.world-clock {
  margin: 15px;
  width: 50%;
}

.local-time {
  display: inline-flex;
  margin: 0;
}

.icon-container {
  padding: 20px;
}

.icon {
  width: 50px;
}

.date {
  color: darkgray;
}

.city h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20pt;
}

.city-time {
  font-size: 35pt;
}

.city-suffix {
  color: darkgray;
  padding: 5px;
  margin-right: 20px;
  font-size: 15pt;
}

/* .dropdown:last-child {
  border: none;
} */

/* .country-list:last-child {
  border: none;
} */
