body {
  text-align: center;
  min-width: 450px;
  max-width: 30%;
  margin: 100px auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

h1 {
  display: inline;
  font-size: 40pt;
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
}

span {
  position: relative;
  top: -58px;
  left: 80px;
  font-size: 15pt;
  padding-left: 10px;
}

h2 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

select {
  width: 85%;
  font-size: 14pt;
  color: gray;
  /* border: 1px solid gray; */
  border-radius: 5px;
  /* padding: 10px auto; */
  margin: 20px auto;
  height: 40px;
  padding: 5px;
}

footer {
  margin: 25px;
  font-size: 13pt;
}

.country-list {
  display: flex;
  width: 90%;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px dashed rgba(48, 48, 48, 0.1);
}

.country-list:last-child {
  border: none;
}

.current-city {
  font-size: 30pt;
  margin: 15px auto;
}

.current-date {
  margin: 10px;
  font-size: 14pt;
}

.suffix {
  display: block;
  margin: 0;
  justify-content: left;
  color: gray;
}

.icon {
  width: 50px;
}

.world-clock {
  margin: 15px;
  width: 50%;
}

.title {
  margin: 28px;
  font-family: "Libre Baskerville", serif;
  /* font-weight: 400; */
}

.time-container {
  height: 0;
  margin: 0;
}

.icon-container {
  padding: 20px;
}

.city p {
  color: darkgray;
}

.city-suffix {
  color: darkgray;
  padding: 5px;
  margin-right: 10px;
}

.city-time {
  font-size: 28pt;
}
